bin
cgi-bin
.cproject
.project
.settings
.DS_Store
.externalToolBuilders
.pydevproject
.idea/
.Building.lock
.sconsign.dblite
.gradle/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
local.properties
settings.gradle
xinge_android_demo.iml
app/build/
build/